<% include partials/header.ejs %>

  <div class="container">
    <h1> Welcome </h1>
    <h3> <a href="/campgrounds"> View all campgrounds </a> </h3>
  </div>

<% include partials/footer.ejs %>
