.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

.new-page{
  width: 30%;
  margin: 23px auto;
}
.new-heading{
  text-align: center;
}

#delete-form {
  display: inline;
  padding: 0.2em;
  margin: 0.8em;
}

.delete-form{
  display: inline;
  padding: 0.2em;
  margin: 0.8em;
}
